@import "tailwindcss";

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

code, pre {
  font-family: ui-monospace, Menlo, Monaco, Consolas, monospace;
}
